*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
    font-family: sans-serif;
    font-size: 25px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    color: white;
    text-shadow:  0 0 3px #000;
}
.logo span{
    color: #000;
    text-decoration: underline;
}

.barra{
    float: right;
}

.barra ul{
    list-style: none;
}
.barra ul li{
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}

.barra a:hover{
    color: #000;
    text-decoration: underline;
}


main{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

}

.call{
    width: 50%;
    background-color: antiquewhite;
    border: 2px solid #000;
    border-radius: 5px;
    float: right;
    margin: 20px;
    padding: 20px;
}

h1{
    color: dimgray;
    margin-bottom: 10px;
}

.call p{
    font-size: 20px;
    margin-bottom: 30px;
}

.call a{
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
}
.call a:hover{
    color: #333;
    text-decoration: underline
}

/* FOOTER */
footer{
    text-align: center;
    background-color: darksalmon;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    letter-spacing: 3px;
}
/* TERMINA FOOTER */
/* REDES DEL FOOTER */
.redes a{
    color: #000;
}
.redes a :hover{
    color: #333;
    text-shadow: 0 0 5px #333;
}
/* TERMINA REDES */
form{
    width: 30%;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid #000;
    border-radius: 5px;
    float: left;
    display: grid;
}

